<section class="proyectos">
  {{#each cardsPrograms}}
    <div class="card">
      <img src="{{src}}" alt="{{alt}}" />
      <h3>{{titulo}}</h3>
      <p>{{descripcion}}</p>
    </div>
  {{/each}}
</section>