<div class="title"><h1>Galería de Imágenes</h1></div>
<section class="galeria">
  {{#each datos}}
  <div class="contenedor-imagenes">
      <picture>
        <img src="{{url}}">
      </picture>
  </div>
  {{/each}}
</section>